@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.button-small {
  font-family: inherit;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.button-big {
  font-family: inherit;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.background {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-advertisement {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.small-advertisement {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item h2,
.services-item h2 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.item-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.item-light-blue {
  background-color: #83B3D333;
}

.item-super-light-blue {
  background-color: #83B3D31F;
}

.subscription-background {
  background-image: url("../images/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advertisement-white {
  color: #ffffff;
}

.phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.inner-header {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/filter-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header h1 {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
}

.filters-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  line-height: 23px;
}

.results {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.select-control {
  color: #333333;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.hotel-card-link {
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-size: 24px;
}

.hotel-card-price {
  font-weight: 400;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
